<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- ASIDE -->
			<div id="aside" class="col-md-3">
				<!--form -->
				<form method="GET">
					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Thể loại</h3>
						<div class="checkbox-filter">
							{{#each categories }}
							<div class="input-checkbox">
								<input type="checkbox" name="categories" id="category-{{id}}" value="{{id}}">
								<label for="category-{{id}}">
									<span></span>
									{{name}}
									<small>({{num}})</small>
								</label>
							</div>
							{{/each}}
							{{!-- <div class="input-checkbox">
							<input type="checkbox" id="category-1">
							<label for="category-1">
								<span></span>
								Máy tính
								<small>(120)</small>
							</label>
						</div> --}}

						</div>
					</div>
					<!-- /aside Widget -->
					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Chuyên mục</h3>
						<div class="checkbox-filter">
							{{#each tags }}
							<div class="input-checkbox">
								<input type="checkbox" name="tags" id="tag-{{id}}" value="{{id}}">
								<label for="tag-{{id}}">
									<span></span>
									{{name}}
									<small>({{num}})</small>
								</label>
							</div>
							{{/each}}
							{{!-- <div class="input-checkbox">
							<input type="checkbox" id="category-1">
							<label for="category-1">
								<span></span>
								Máy tính
								<small>(120)</small>
							</label>
						</div> --}}

						</div>
					</div>
					<!-- /aside Widget -->

					<!-- aside Widget -->
					<div class="aside">
						<h3 class="aside-title">Giá</h3>
						<div class="price-filter">
							<div id="price-slider"></div>
							<div class="input-number price-min">
								<input id="price-min" type="number" name="min">
								<span class="qty-up">+</span>
								<span class="qty-down">-</span>
							</div>
							<span>-</span>
							<div class="input-number price-max">
								<input id="price-max" type="number" name="max">
								<span class="qty-up">+</span>
								<span class="qty-down">-</span>
							</div>
						</div>
					</div>
					<!-- /aside Widget -->
					<div class="aside" style="display: flex;justify-content: center;">
						<button class="primary-btn cta-btn" type="submit" formaction="/tim-kiem">tìm kiếm</button>
					</div>

				</form>
				<!--/form -->
				{{!-- <!-- aside Widget -->
				<div class="aside">
					<h3 class="aside-title">Bán chạy nhất</h3>
					<div class="product-widget">
						<div class="product-img">
							<img src="./images/product01.png" alt="">
						</div>
						<div class="product-body">
							<p class="product-category">Tên danh mục</p>
							<h3 class="product-name"><a href="#">Tên sản phẩm</a></h3>
							<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
						</div>
					</div>

					<div class="product-widget">
						<div class="product-img">
							<img src="./images/product02.png" alt="">
						</div>
						<div class="product-body">
							<p class="product-category">Tên danh mục</p>
							<h3 class="product-name"><a href="#">Tên sản phẩm</a></h3>
							<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
						</div>
					</div>

					<div class="product-widget">
						<div class="product-img">
							<img src="./images/product03.png" alt="">
						</div>
						<div class="product-body">
							<p class="product-category">Tên danh mục</p>
							<h3 class="product-name"><a href="#">Tên sản phẩm</a></h3>
							<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
						</div>
					</div>
				</div>
				<!-- /aside Widget --> --}}
			</div>
			<!-- /ASIDE -->

			<!-- STORE -->
			<div id="store" class="col-md-9">

				<!-- store products -->
				<div class="row">
					{{#each games}}
					<!-- product -->
					<div class="col-md-4 col-xs-6">
						<div class="product" onclick="window.location='/xem-chi-tiet?id={{id}}';">
							<div style="height: 350px;display: flex;" class="product-img">
								<img src="{{image}}" alt="ảnh game" class="img-fluid">
								<div class="product-label">
									<span class="sale">-{{saleoff}}%</span>
									<span class="new">Mới</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category"
									onclick="window.location='/danh-sach-san-pham-theo-loai?id={{idcategory}}';">
									{{category}}</p>
								<h3 class="product-name"><a href="#">{{name}}</a></h3>
								<h4 class="product-price">{{priceReal}} <del class="product-old-price">{{price}}</del>
								</h4>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào
									giỏ</button>
							</div>
						</div>
					</div>
					<!-- /product -->
					{{/each}}



				</div>
				<!-- /store products -->

				<!-- store bottom filter -->
				<!--<div class="store-filter clearfix">
					<ul class="store-pagination">
						{{#each pages}}
						{{#if active}}
						<li class="active">{{value}}</li>
						{{else}}
						<li><a href="?id={{games.0.idcategories}}&page={{value}}">{{value}}</a></li>
						{{/if}}
						{{/each}}
					</ul>
				</div>-->
				<!-- /store bottom filter -->
			</div>
			<!-- /STORE -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->