{{#section 'css'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}

{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $(function () {
        $('#registerForm').validate({
            rules: {
                username: {
                    required: true,
                },
                password: {
                    required: true,
                    minlength: 6
                },
                confirm: {
                    required: true,
                    equalTo: $('[name="password"]')
                },
                name: {
                    required: true,
                },
                email: {
                    required: true,
                    email: true
                }
            },
            messages: {
                username: {
                    required: 'Your username is required.',
                    remote: 'Your username has been taken, please take another.'
                },
                password: {
                    required: 'Your password is required.',
                    minlength: 'Your password must have at least 6 characters.'
                },
                confirm: {
                    required: 'Your password does not match.',
                    equalTo: 'Your password does not match.'
                },
                name: {
                    required: 'Valid full name is required.',
                },
                email: {
                    required: 'Please enter a valid email address.',
                    email: 'Please enter a valid email address.'
                },

            },
            errorElement: 'small',
            errorClass: 'help-block text-danger',
            highlight: function (e) {
                $(e).removeClass('is-valid').addClass('is-invalid');
            },
            unhighlight: function (e) {
                $(e).removeClass('is-invalid').addClass('is-valid');
            }
        });
    })
</script>
{{/section}}



<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="section-title">
                <h3 class="title">Tạo tài khoản mới</h3>
                {{#if data.error}}
                <div class="alert alert-danger" role="alert">
                    {{data.error}}
                </div>
                {{!-- <h2 class="alert"></h2> --}}
                {{/if}}
            </div>
            <form class="billing-details" method="POST" id="registerForm">
                <div class="card shadow">
                    <div class="card-body">

                        <div class="form-group">
                            <label for="txtUsername">Username</label>
                            <input type="text" class="form-control" id="txtUsername" name="username"
                                value="{{data.cache.username}}" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="txtPassword">Password</label>
                            <input type="password" value="{{data.cache.password}}" class="form-control" id="txtPassword"
                                name="password">
                        </div>
                        <div class="form-group">
                            <label for="txtConfirm">Confirm</label>
                            <input type="password" value="{{data.cache.password}}" class="form-control" id="txtConfirm"
                                name="confirm">
                        </div>

                        <hr class="mb-4">
                        <h5 class="mb-3">Thông tin cá nhân</h5>
                        <div class="form-group">
                            <label for="txtName">FullName</label>
                            <input type="text" value="{{data.cache.fullname}}" class="form-control" id="txtName"
                                name="fullname">
                        </div>
                        <div class="form-group">
                            <label for="txtEmail">Email</label>
                            <input type="text" value="{{data.cache.email}}" class="form-control" id="txtEmail"
                                name="email">
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button type="submit" class="btn btn-lg btn-success btn-block">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            Đăng ký
                        </button>
                    </div>
                </div>
            </form>
            {{!-- <form class="billing-details" method="POST" id="registerForm">

                <div class="form-group">
                    <input class="input" type="text" name="username" placeholder="tên đăng nhập">
                </div>
                <div class="form-group">
                    <input class="input" id="password" type="password" name="password" placeholder="mật khẩu">
                </div>
                <div class="form-group">
                    <input class="input" oninput="check(this)" type="password" placeholder="nhập lại mật khẩu">
                </div>
                <script language='javascript' type='text/javascript'>
                    function check(input) {
                        if (input.value != document.getElementById('password').value) {
                            input.setCustomValidity('Password chưa chính xác!!!');
                        } else {
                            // input is valid -- reset the error message
                            input.setCustomValidity('');
                        }
                    }
                </script>
                <div class="form-group">
                    <input class="input" type="text" name="fullname" placeholder="Nhập Họ và tên lót">
                </div>
                <div class="form-group">
                    <input class="input" type="email" name="email" placeholder="Thư điện tử">
                </div>
                <div class="form-group">
                    <div class="input-checkbox">
                        <input type="checkbox" id="terms" required>
                        <label for="terms">
                            <span></span>
                            Tôi đã đọc và đồng ý <a href="#">các điều khoản và chính sách</a>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="primary-btn order-submit" type="submit">Tiếp Tục</button>
                </div>
            </form> --}}
        </div>
    </div>
</div>