<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- Product main img -->
			<div class="col-md-5 col-md-push-2">
				<div id="product-main-img">
					{{!-- <div class="product-preview">
						<img src="./images/product01.png" alt="">
					</div>

					<div class="product-preview">
						<img src="./images/product03.png" alt="">
					</div>

					<div class="product-preview">
						<img src="./images/product06.png" alt="">
					</div>

					<div class="product-preview">
						<img src="./images/product08.png" alt="">
					</div> --}}
					{{#each images}}
					<div class="product-preview">
						<img src="{{linkimage}}" alt="{{inkimage}}">
					</div>
					{{/each}}
				</div>
			</div>
			<!-- /Product main img -->

			<!-- Product thumb imgs -->
			<div class="col-md-2  col-md-pull-5">
				<div id="product-imgs">
					{{#each images}}
					<div class="product-preview">
						<img src="{{linkimage}}" alt="{{inkimage}}">
					</div>
					{{/each}}
					{{!-- <div class="product-preview">
						<img src="./images/product01.png" alt="">
					</div>

					<div class="product-preview">
						<img src="./images/product03.png" alt="">
					</div>

					<div class="product-preview">
						<img src="./images/product06.png" alt="">
					</div>

					<div class="product-preview">
						<img src="./images/product08.png" alt="">
					</div> --}}
				</div>
			</div>
			<!-- /Product thumb imgs -->

			<!-- Product details -->
			<div class="col-md-5">
				<div class="product-details">
					<h2 class="product-name">{{game.name}}</h2>
					<ul class="product-links">
						<li>Thể loại:</li>
						<li><a href="/danh-sach-san-pham-theo-loai?id={{game.idcategory}}">{{game.category}}</a></li>
					</ul>
					<div>
						<h3 class="product-price">{{game.sale}} <del class="product-old-price">{{game.price}}</del></h3>
						<span class="product-available">Còn hàng</span>
					</div>
					<p>{{game.content}}</p>

					<div class="add-to-cart">

                        <a id="anchor_product_{{this.id}}"  href="javascript:add_to_cart({{this.id}});">
                            <button type="button" id="button_product_{{this.id}}" class="add-to-cart-btn">
                                <i class="fa fa-shopping-cart"></i>Thêm vào giỏ</button>
                        </a>

						<ul class="product-links">
							<li>Tags:</li>
							{{#each tags}}
							<li><a href="#">{{name}}</a></li>
							{{/each}}

							{{!-- <a><a href="#">Phụ kiện</a></a> --}}
						</ul>

						<ul class="product-links">
							<li>Chia sẻ:</li>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-envelope"></i></a></li>
						</ul>

					</div>
				</div>
				<!-- /Product details -->

				<!-- Product tab -->
				<div class="col-md-12">
					<div id="product-tab">
						<!-- product tab nav -->
						<ul class="tab-nav">
							<li class="active"><a data-toggle="tab" href="#tab1">Cấu hình</a></li>
							<li><a data-toggle="tab" href="#tab2">Chi tiết</a></li>
						</ul>
						<!-- /product tab nav -->

						<!-- product tab content -->
						<div class="tab-content">
							<!-- tab1  -->
							<div id="tab1" class="tab-pane fade in active">
								<div class="row">
									<div class="col-md-12">
										{{{game.configuration}}}
									</div>
								</div>
							</div>
							<!-- /tab1  -->

							<!-- tab2  -->
							<div id="tab2" class="tab-pane fade in">
								<div class="row">
									<div class="col-md-12">
										<p>{{game.content}}</p>
									</div>
								</div>
							</div>
							<!-- /tab2  -->
						</div>
						<!-- /product tab content  -->
					</div>
				</div>
				<!-- /product tab -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /SECTION -->
	<!-- Section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<div class="col-md-12">
					<div class="section-title text-center">
						<h3 class="title">Sản phẩm liên quan</h3>
					</div>
				</div>

				<!-- product -->
				<div class="col-md-3 col-xs-6">
					<div class="product">
						<div class="product-img">
							<img src="./images/product01.png" alt="">
							<div class="product-label">
								<span class="sale">-30%</span>
							</div>
						</div>
						<div class="product-body">
							<p class="product-category">Tên danh mục</p>
							<h3 class="product-name"><a href="#">Tên sản phẩm</a></h3>
							<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							<div class="product-rating">
							</div>
							<div class="product-btns">
								<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add
										to wishlist</span></button>
								<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add
										to compare</span></button>
								<button class="quick-view" onclick="window.location.href = '/xem-chi-tiet'"><i
										class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
							</div>
						</div>
						<div class="add-to-cart">
							<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
						</div>
					</div>
				</div>
				<!-- /product -->

				<!-- product -->
				<div class="col-md-3 col-xs-6">
					<div class="product">
						<div class="product-img">
							<img src="./images/product02.png" alt="">
							<div class="product-label">
								<span class="new">NEW</span>
							</div>
						</div>
						<div class="product-body">
							<p class="product-category">Tên danh mục</p>
							<h3 class="product-name"><a href="#">Tên sản phẩm</a></h3>
							<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
							</div>
							<div class="product-btns">
								<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add
										to wishlist</span></button>
								<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add
										to compare</span></button>
								<button class="quick-view" onclick="window.location.href = '/xem-chi-tiet'"><i
										class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
							</div>
						</div>
						<div class="add-to-cart">
							<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
						</div>
					</div>
				</div>
				<!-- /product -->

				<div class="clearfix visible-sm visible-xs"></div>

				<!-- product -->
				<div class="col-md-3 col-xs-6">
					<div class="product">
						<div class="product-img">
							<img src="./images/product03.png" alt="">
						</div>
						<div class="product-body">
							<p class="product-category">Tên danh mục</p>
							<h3 class="product-name"><a href="#">Tên sản phẩm</a></h3>
							<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							<div class="product-rating">
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star-o"></i>
							</div>
							<div class="product-btns">
								<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add
										to wishlist</span></button>
								<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add
										to compare</span></button>
								<button class="quick-view" onclick="window.location.href = '/xem-chi-tiet'"><i
										class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
							</div>
						</div>
						<div class="add-to-cart">
							<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
						</div>
					</div>
				</div>
				<!-- /product -->

				<!-- product -->
				<div class="col-md-3 col-xs-6">
					<div class="product">
						<div class="product-img">
							<img src="./images/product04.png" alt="">
						</div>
						<div class="product-body">
							<p class="product-category">Tên danh mục</p>
							<h3 class="product-name"><a href="#">Tên sản phẩm</a></h3>
							<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
							<div class="product-rating">
							</div>
							<div class="product-btns">
								<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add
										to wishlist</span></button>
								<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add
										to compare</span></button>
								<button class="quick-view" onclick="window.location.href = '/xem-chi-tiet'"><i
										class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
							</div>
						</div>
						<div class="add-to-cart">
							<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
						</div>
					</div>
				</div>
				<!-- /product -->

			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /Section -->
</div>